[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<2.0.0"
scikit-learn = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
parse = "python3 paihu_parse.py"
train = "python3 paihu_train.py"
